<a href="https://colab.research.google.com/github/anajonicholson/DS4002-Project2/blob/main/SCRIPTS/healthcare_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# total healthcare costs for entire state (in millions of dollars)
# TODO: need population csv to determine estimated healthcare cost per person
personal_healthcare = pd.read_csv("https://raw.githubusercontent.com/anajonicholson/DS4002-Project2/refs/heads/main/DATA/personal_healthcare_expenses_cleaned.csv")

# median household salary per state
annual_salary = pd.read_csv("https://raw.githubusercontent.com/anajonicholson/DS4002-Project2/refs/heads/main/DATA/average_salary_state.csv")

# enrollment numbers per state
# TODO: mark what states are enrolled in Medicaid and which aren't?
medicaid_enrollment = pd.read_csv("https://raw.githubusercontent.com/anajonicholson/DS4002-Project2/refs/heads/main/DATA/medicaid_enrollment_cleaned.csv")

In [2]:
personal_healthcare.head()

,State,2014,2015,2016,2017,2018,2019,2020,Average_Expense
0,Connecticut,35350,36941,38322,39289,40671,42190,44425,39598.285714
1,Maine,12134,12747,13347,13891,14674,15461,16306,14080.000000
2,Massachusetts,70311,74842,78446,80621,84112,87764,91817,81130.428571
3,New Hampshire,12498,13057,13648,14278,14871,15391,16113,14265.142857
4,Rhode Island,10020,10478,10747,10872,11084,11627,12362,11027.142857

In [3]:
annual_salary.head()

,State,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Alabama,53070,55920,55920,62250,59900,66430,63980,63750,62290,60660
1,Alaska,84900,94360,94290,95440,82450,92670,87440,90850,93310,98190
2,Arizona,61830,65640,71100,73060,74710,83540,78480,79310,76370,82660
3,Arkansas,56390,53770,57170,60880,60880,64470,59400,56870,56120,63250
4,California,75930,79940,82980,85710,84560,92330,90840,91350,88690,89870

In [4]:
medicaid_enrollment.head()

           State  2014  2015  2016  2017  2018  2019  2020  Average_Enrollment
0    Connecticut   884   914   989  1036  1063  1087  1130         1014.714286
1          Maine   321   305   301   295   287   306   346          308.714286
2  Massachusetts  1571  1591  1633  1601  1600  1522  1538         1579.428571
3  New Hampshire   147   184   203   202   193   187   200          188.000000
4   Rhode Island   211   229   242   264   262   253   257          245.428571

In [17]:
# generate healthcare costs as a percentage of annual salary per state
# TODO: divide by population of state

cost_over_salary = pd.DataFrame()

for year in range(2014, 2021):
  year = str(year)
  cost_over_salary[year] = personal_healthcare[year] / annual_salary[year] * 100

cost_over_salary

,2014,2015,2016,2017,2018,2019,2020
0,66.610138,66.060443,68.530043,63.114859,67.898164,63.510462,69.435761
1,14.292108,13.508902,14.155266,14.554694,17.797453,16.683932,18.648216
2,113.716642,114.018891,110.331927,110.349028,112.584661,105.056260,116.994139
3,22.163504,24.283057,23.872660,23.452694,24.426741,23.873119,27.126263
4,13.196365,13.107330,12.951314,12.684634,13.107852,12.592873,13.608542
5,8.661438,8.235716,7.991351,7.848736,8.413423,8.854142,8.112438
6,10.873070,11.022169,10.985826,12.055427,13.031830,11.558140,13.697407
7,11.005401,11.663451,12.224682,11.514465,12.177202,11.253136,12.513428
8,59.621981,61.234806,63.347664,58.133105,58.330418,56.359673,63.605620
9,137.914365,137.130747,138.947121,141.482451,144.668192,145.147826,156.010064
10,309.773348,317.604265,321.932483,319.134724,353.122760,376.002390,390.663493
11,130.806397,150.887107,142.095302,146.905740,145.412071,137.525000,156.860195
12,154.001193,164.589052,157.085463,155.315204,164.682754,154.219231,164.313349
13,76.518712,72.889328,76.204867,74.392419,74.013549,75.972712,81.692732
14,131.166915,127.351095,124.085898,124.015573,127.073069,120.714105,126.216251
15,134.361306,133.089601,143.336051,141.181924,136.423632,152.392418,152.181096
16,71.788642,72.350210,71.916879,75.039494,70.011734,65.014456,68.093567
17,46.140384,49.014085,46.936283,44.087843,42.415954,44.142857,46.638554
18,40.167199,38.517941,43.492577,44.006753,40.718932,41.672120,45.781563
19,74.923741,78.812735,83.232275,83.507051,81.091374,75.357234,82.347336
20,49.606736,54.288805,57.089820,53.660697,53.507737,51.247788,55.032462
21,19.384460,19.039296,18.946550,18.881029,17.642857,18.482160,19.835443
22,10.189951,10.383316,10.298214,10.919890,10.764033,10.734925,11.481481
23,9.163606,9.529766,9.922232,10.652809,11.316309,10.716883,12.106806
24,79.049114,73.900596,75.767878,75.109517,79.520655,81.040801,86.501894
25,30.417780,30.531128,35.282441,36.513443,34.760297,37.336312,38.905692
26,246.522214,260.828558,247.254819,263.205694,281.029050,286.657765,323.000904
27,93.419246,94.570225,102.521304,108.653134,101.794967,101.432210,110.983199
28,56.193899,56.300888,55.401333,56.197381,56.136639,51.991172,64.181691
29,39.606034,40.259809,42.109309,45.366829,44.060258,43.803311,46.966346
30,27.398046,27.079646,28.658222,28.786419,28.215329,25.113790,27.842158
31,121.972360,134.479534,132.824465,149.258065,148.634323,144.166932,158.743913
32,51.041361,50.028818,49.754248,52.433940,50.317224,50.671062,56.949701
33,82.663034,80.665935,80.120986,93.974930,90.679475,83.405727,90.940594
34,81.247377,89.902953,89.715773,94.068994,89.875909,91.228558,105.304626
35,27.869063,27.382019,28.591193,26.978592,27.695117,28.069074,32.262174
36,74.560338,79.545147,78.697982,83.690345,85.753446,84.591938,105.865103
37,19.825463,20.289191,21.928300,21.818776,20.574907,20.192133,20.854188
38,42.890557,40.727560,42.069011,43.962667,43.945736,42.362460,45.399106
39,250.014946,283.296656,269.353955,267.667125,295.536216,280.648818,263.153854
40,63.398936,66.258585,59.998522,64.094996,66.123930,65.077741,70.617651
41,16.211712,16.345765,16.415991,17.919598,18.285434,18.192232,18.129339
42,14.799563,14.475277,14.147638,14.060284,14.768773,15.679713,17.159073
43,25.309774,25.704017,26.898218,27.972532,30.828221,28.903663,30.551112
44,6.060073,6.095627,6.251339,6.449649,6.129800,5.871284,6.512314
45,10.188952,11.321916,11.528511,11.697677,11.126710,11.046340,12.677936
46,347.176400,402.830140,393.874320,390.176572,386.437601,395.042655,421.554377
47,13.789616,13.050426,13.123929,13.835523,13.290464,13.877090,15.213280
48,38.169184,37.254647,38.995111,39.530108,39.424757,39.506931,43.092105
49,42.961185,48.698837,47.801047,47.119320,51.050180,51.021100,54.166878
50,76.744386,74.016201,82.077489,84.393357,86.159691,88.651773,93.087371

In [ ]:
# ARIMA analysis
# TODO: perform analysis on average healthcare cost
# TODO: perform analysis on enrollment numbers